html
    body
        title Welcome
        script(src = "javascripts/main.js")
        link(rel = "stylesheet", href = "stylesheets/style.css")
        body 
            #content 
                img(src = "images/logo.jpg" width = "400px")
                p WELCOME
                #smile
        